:root{
    --letrasize:18px;
}
@font-face {
    font-family: "Egipto";
    src: url("../misc/egipto.otf");
}
button{
    font-family: "Egipto";
    font-size: var(--letrasize);
    cursor: pointer;
}
body{
    font-family: "Egipto";
    font-size: var(--letrasize);
}
input[type=checkbox]{
    cursor: pointer;
}