
body
{
    background-image: url("../img/puzzlefondo.png");
    background-color: black;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
    text-align: center;

}

.main{
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    padding: 20px;
    margin: auto;
    overflow: auto;
    width:fit-content;
    height:fit-content;
    z-index: 1;
    top: 50%;
    left: 50%;
 
}
.puzzle{
    position: absolute;
    cursor: pointer;
}
.puzzle:hover{
    opacity: 0.7;
}
#ui{
    /*position: absolute;*/
    margin-top:600px;
    top: 600px;
    left: 48%;
    z-index: 2;
}